# Nettoyage et formatage en plus des feature du model

In [1]:
import pandas as pd

In [8]:
# Supposons que volontaire_clean_2020 est déjà chargé
df_volontaire = pd.read_csv('volontaire_clean_corrige.csv')

In [9]:
valeurs_uniques_ar = df_volontaire['arrondissement_de_residence'].unique()

# Affichage des valeurs uniques
print(valeurs_uniques_ar)

['Douala 3' 'Non précisé' 'Douala 1' 'Douala 5' 'Douala (Non précisé)'
 'Douala 2' 'Douala 4' 'Yaoundé' 'Meiganga' 'Édéa' 'Oyack' 'Manjo'
 'Douala 6' 'Tiko' 'Bafoussam' 'Boko' 'Kribi' 'Ouest' 'Njombé' 'Nkouabang'
 'Ngodi Bakoko' 'Buéa' 'Dschang' 'Bomono Ba Mbègué' 'Douala' 'Dikongmondo'
 'Limbe' 'Deïdo' 'Sud-Ouest Tombel']

In [10]:
valeurs_uniques_qr = df_volontaire['quartier_de_residence'].unique()

# Affichage des valeurs uniques
print(valeurs_uniques_qr)

['Yassa' ' R A S' 'NEW BELL' 'Ange raphael' 'Beedi' 'Deido' 'Henry'
 'Non précisé' 'Ancien 3ieme' 'ndogpassi' 'Douala' 'Japoma ' 'Bonadibong'
 'Ange Raphaël ' 'CITE SIC' 'DOUALA' 'Besseke bonaberi' 'Akwa ngodi'
 'Yaounde' 'Pk14' 'Meiganga' 'R .A.S' 'Village ' ' R A S ' 'douala'
 'Cité maetude ' 'Pas precise' 'Ndogbong' 'PK9' 'Deïdo' 'Brazzaville'
 'Nyalla chateau' 'LOGBABA' 'Bangue' 'Logbaba' 'Bonamoussadi'
 'Beedi malangue' 'Ancien abatoire' 'Bonaberie' 'Logbessou' 'NEWBELL'
 'DEIDO' 'Ndogpassi 3' 'Boko' 'Logpom' 'Nyalla' 'Newbell' 'Nyalla pariso '
 'Ndogpassi' 'youpwe' 'Cite cicam' 'NYALLA' 'Bonaberi' 'Pk10'
 'NDOGPASSI 2' 'Akwa' 'Edea' 'PK8' 'Yatchika' 'PK12 Emmene cite'
 'Bonamousadi ' 'Pk8' 'BDOGPASSI' 'Nyalla japoma' 'YASSA' 'PK11 bassa'
 'Edéa ' 'Pk11' 'nkongmondo' 'PK10' 'Cité sic' 'NDOGPASSI 3' 'makepe'
 'Nkongmondo' 'PK 10' 'Total nkolbong' 'pk12' 'AKWA' 'Bali' 'Yaoundé'
 'NGODI BAKOKO' 'Bonapriso 2' 'Kotto' 'cite des palmiers' 'Pas precisé'
 'Japoma' 'NIALLA' 'Ndogpassi ' 'Bilongue' 'New Bell' 'Saint thomas'
 'BONABERI' 'PK14' 'R A S' 'Pk13' 'CCC NDOKOTTI' 'kotto' 'Pk9'
 'Bonabéri (grand baobab)' 'Bependa Omnisport' 'BESSENGUE' 'DOGPASSI'
 'RAS' 'Nkolbong' 'Cité-sic' 'Besengue ' 'NYALLA CHATEAU' 'Makepe' 'Pk12'
 'VILLAGE' 'Ndogpassi 2' 'BILONGUE' 'PK10 ' 'Village' 'Bonabéri '
 'YAOUNDE' 'Ndogbon' 'Malangue' 'Nkomondo' 'Gare bessengue' 'Yassa tika'
 'JAPOMA' 'pk11' 'Cité des palmiers' 'bonaberi' 'entree billes' 'Kms'
 'BOKO PLAGE' 'Total Nkolobong' 'Bependa' 'OYACK' 'New bell ' 'BP8232'
 'YASSA ' 'NDOGPASSI' 'NDOKPASSI' 'Bonapriso' 'Soubom' 'Non précise '
 'NdogpassiII' 'Bp cite' 'Pk20' 'Deido ' 'Pk16' 'NEWTON  AIRPORT' 'Bobojn'
 'Biyemassi' 'Newton aeroport' 'Ras' 'Bependa tonnerre ' 'Ndongbong'
 'Ngodi Bakoko' 'NDOGPASSI I' 'MADAGASCAR' 'BALI' 'Manjo' 'New-bell'
 'PK12' 'Akwa-Nord' 'Bonateki' 'nyalla pariso' 'CITE DES PALMIERS'
 'Bessengue' 'NDOGBONG' 'Pk15 ' 'bepanda omnisports' 'NEW-BELL'
 'BRAZZAVILLE' 'Ngodi- Bakoko' 'Jardin logbaba' 'Ndokotti' 'Oyack'
 'New bell' 'Village entrée Bille' 'Kambo boko' 'Ndobassi' 'Dakar' 'MBOKO'
 'NYALLA PAYS BAS' 'Tradex village' 'TIKO' 'DAKAR' 'Combi' 'Pas précisé'
 'Bepanda' 'Cogefar' 'Ndobo ' 'Pk18' 'Makepe missoke' 'Bafoussam'
 'Bocom safari ' 'Non precisé' 'logbaba' 'Mbassong' 'LOGBESSOU'
 'Bonaberi SCTM' 'Brazzaville ' 'Carrefour Bonabassem' 'BONABERIE'
 'New town aéroport ' 'PK11' 'nyala château' 'BONAMOUSSADI' 'pk10'
 'Cite des palmiers' 'Oyack ' 'NGALLA' 'Terminus' 'bonakouamouang'
 'RUE FOCH' 'Elf (rond point)' 'Déido' 'Nkol mbong' 'Bonanjo'
 'N’y alla Pariso' 'Bp cité' 'Logbaba ' 'Carrefour Agip' 'BP SITE'
 'Bois des singes' 'Bonandale' 'Ndokoti' 'japouma' 'Douala 812.12'
 'NDOGPASSI VILLAGE' 'Ngodi' 'ngodi bakoko' 'NDOGPASSI 1' ' BONAMOUSSADI '
 'Boko village' 'Ndogbong Citadelle' 'SABLE BONAMOUSSADI' 'Madagascar'
 'Borne 10 village ' 'Terminus ucb' 'Nylon Brazzaville' 'Ndogpassi marché'
 'Nyalla ' 'BOKO' 'LOGPOM' 'Nyalla-kambo' 'MAKEPE' 'Ari'
 'BEPENDA MATURITE' 'Entree bille' 'Godi Bokocie' 'BORNE 10'
 'Binamoussadi' 'nboko' 'Bonaloka' 'dakar' 'village' 'Ndogbong '
 'Dogbassi 3' 'PK5' 'Douala Ndopassiz' 'NGANGUE' 'Yatika' 'Kribi'
 'Makepe Misoke ' 'RAS ' 'Ndogsibi' 'ndogbong' 'Makafo' 'Regeneration'
 'Mboppi' 'Dibombari' 'pk8' 'pk9' 'Newbell ' 'Globo' 'Pk5 new bell'
 'BP Cité' 'NDOGPASSI ' 'Douala-douala' 'Ngodi bakoko' 'Sic cacao'
 'Ndopassi 3' 'Bahan' 'yassa' 'Billongue' 'Borne 10'
 'bonaberi entree cebec' 'Ndg-bong' 'Bonaberi ' 'Douala '
 'KOTTO BONAMOUSSADI' 'Bepanda omnisport' 'Brazaville' 'Bependa '
 'BOIS DE SINGE' 'Ndogpassi3' 'New-Bell' 'Elf' 'TEXACO AEROPORT' 'BEPANDA'
 'ARI' 'Hôpital général de douala ' 'Pk16(sappe )' 'bonapriso'
 'Bangapongo ' 'newbell' 'Genie militaire' 'Bakoko' 'Makèpè' 'logbessou'
 'She’ll-village' 'Douala oyack' ' NDOGPASSI 3' 'NYALLA HAOUSSA'
 'PK11 MBENGUE CITY' 'West' 'CITE DES PAKMIERS' 'PK12 MANDJAB'
 'Cite de palmier' 'ENRI' 'New bel ' 'CITE DE BILLE ' 'SOBOUM'
 'bois des singes' 'Pk17' 'Songmahop' 'Cite sic' 'Ndog-Passi'
 'Nkoulouloun' 'NDOPASSI III' 'PK18' 'Bonambappe' 'Mbangue'
 'Village Cite de bille' 'Cité cic' 'Bependa casmando' 'Nyalla Kambo 2'
 'Cité de palmiers' 'Cité-sic bassa' 'Bonamikano' 'Diboum 3' 'Ari '
 'Yansoki ' 'Boko cogefar' 'BEEDI' 'NDOKOTI' 'Nkouabang' 'Carrefour ari'
 'Bonamoussadi ' 'Village borne 10' 'BP CITE' 'Entrée mini Cité cogefar'
 'Logbaba saint Thomas' 'TRADEX BONNE DIX' 'AKWA-NORD' 'Pk 13 ' 'Ndobong'
 'NDOGBOM' 'NON PRECISE' 'Pk 10' 'ROND POINT CCC' 'Douala Nyalla'
 'non precisé' 'BONAMODORO DIEDO' 'PK30' 'Soboum-Dakar ' 'Ange rafael'
 'Total Nkolmbon' 'Nylon brazzaville' 'Anhe rafael' 'Mboko' 'Yassa '
 'Terminus saint Michel ' 'Akwa nord' 'Rue koloko bonapriso'
 'Bwang Bakoko' 'Ndokotti ccc' 'boko' 'Ngodi bakogo' 'Entree chinoise'
 'BONANDJO' 'nyalla' 'NKONMONDO' 'Itba village' 'Logbaba jardin'
 'bonamoussadi' 'Cite de la paix' 'Pk 11' 'harry' 'Essengue'
 'CITE DES PALMIERS ' 'Kotto ' 'ndogpassi 2' 'Pihidibamba' 'Logpom '
 'Cité Sic' 'Texaco aéroport' 'PK21' 'Bonadouma-bonapriso'
 'ANGE RAPHAEL CAMPUS 2' 'R A S ' 'NDOGBASSI' 'BONALOKA' 'Tradex borne 10'
 'Ndogsimbi' 'Akwa-nord' 'Boko-plage' 'Newton aéroport ' 'NYALLA PARISO'
 'Ndogpassi III' 'Logbessou ' 'village cogefar' 'Bonaberie ' 'Nkomodo'
 'Logbesou' 'Ngodi Akwa' 'Mbanga bakoko' 'Tergal' 'Bassa' 'ANGE RAPHAEL'
 'new bell' 'New-bell /nkouloulou' 'Edea ' 'Pk15' 'Bependa Aeroport'
 'DOUALA CCC' 'Douala CCC' 'NYALLA ' 'LOGBABA JARDIN' 'MISSOLE II'
 'Nyalla pariso' 'PK 25' 'harry yassa' 'Pas précisé ' 'KOTTO IMMEUBLE'
 'Buea' 'Ccc ' 'Ndopassi' 'Boko plage' 'Kotto- chefferie' 'Journaliste '
 'Nkolbon' 'Dongbang' 'Makepe ' 'deido' 'Axe lourd bependa' 'NDOGPOSSI'
 'Borne' 'NGODI' 'CONGEFAR' 'Brassaville' 'Ekithe ' 'PK13 BASSA'
 'Dogbassi' ' BONAORISSO' 'CONGO' 'cité Sic' 'NDONGBONG' 'Ngodi- Akwa'
 'Song mahop' 'BONATEKI DEIDO' 'ange Raphaël' 'Dschang' 'Nkolmesseng'
 'NKONGMONDO' 'Douala Newbell' 'MBANGO' 'CITEE DES PALMIERS'
 'Bepanda Omnisport' 'Douala douala' 'Newton aéroport' 'Logbaba st thomad'
 'DIBOM III' 'Bomono Ba Mbengue' 'New Ton Aeroport' 'Ambiance'
 'Hôpital général' 'cite cicam' 'Cité cicam' 'She’ll village ' 'Édea'
 'beedi' 'Bonabéri Grand-hangar' 'Douala(non) précisé' 'BONENDALE'
 'Ange Raphaël' 'BONA PRISO GOUPWE' 'COGEFAR' 'Japouma ' 'CARREFOUR AGIP'
 'AKWA NORD' 'Pl12' 'Bonamousadi' 'TOTAL AEROPORT' 'Ndogbon ' 'akwa nord'
 'Logbaba plateau' 'Entrée chinois' 'PK13' 'New-deido' 'NYASSA'
 'Village entrée Lycée' 'QUARYIER ESPOIR' 'Shele village'
 'Douala non précisé' 'Douala newtown  Aéroport ' 'Ndogssimbi'
 'Bonadiwoto' 'NEW BELL BASSA' 'VILLAGE MARCHE' 'Nkong mondo' 'Akoua'
 'Ndokoti ' 'LIMBE' 'New Bell Bassa' 'Bonadoumbe' 'VILLOAGE MARCHE'
 'Nyala' 'Bonabeerie' 'Parisot nyalla' 'Pk5' 'Pk9 ' 'CITE CICAM' 'Henry '
 'Cite de cille' 'NKONG-MONDO' 'NKONGUONDO' 'Pas mentionné' 'NGODI AKWA'
 'LOG-BABA' 'New priso' 'bali' 'Cite Berge' 'Yansoki bakoko'
 'Douala-zone de Reeassement' 'TERGAL' 'Damas' 'Cité belge' 'Ndogpassi II'
 'Mbangopongo' 'Nyalla pariazo' 'TRADEX KOTTO' 'Ndogpass 3'
 'Douala Ndogpassi' 'Aucun' 'tergale' 'Saint Thomas logbaba ' 'logpom'
 'Songogan bloc 11' 'Bakie Ndagpassi' 'Tombel' 'Mbanga' 'MBALLA 2'
 'Cite cic' 'Jardin ndogmbe' 'NDOBASSI 2' 'Bependa omnisport'
 'Village marché' 'Nouvelle route cité sic' 'BEPENDA' 'Pk 8 Entrée Laïque'
 'Pk 16' 'Ndogpassi I ' 'SOUBOUN' 'BONABERI NDOBO' 'NDOG PASSI 3'
 'ARI Village ' ' Cité sic' 'YOUPWE' 'Nono plage' 'Nylon' 'Ipd'
 'Ngodi bonomo' 'Bois de singe' 'Nglon' 'NDOG-PASSI' 'Pk23' 'Bastos'
 'PK16 NSAPE']

In [11]:
# Création d'une nouvelle DataFrame avec les deux colonnes
df_residence = df_volontaire[['arrondissement_de_residence', 'quartier_de_residence']]

# Afficher les premières lignes pour vérification
df_residence.to_csv("quartiers_residence_douala.csv", index=False)

print(df_residence.head())

  arrondissement_de_residence quartier_de_residence
0                    Douala 3                 Yassa
1                 Non précisé                 R A S
2                    Douala 1              NEW BELL
3                    Douala 5          Ange raphael
4        Douala (Non précisé)                 Beedi

## chargement de la base de donne des quartier valide de douala depuis wikipedia

In [ ]:
# import pandas as pd
# import requests
# from bs4 import BeautifulSoup

# # URL de la page Wikipédia
# url = "https://fr.wikipedia.org/wiki/Quartiers_de_Douala"

# # Récupérer le contenu HTML de la page
# response = requests.get(url)
# soup = BeautifulSoup(response.content, "html.parser")

# # Trouver la table contenant les quartiers
# table = soup.find("table", class_="navbox")

# # Initialiser une liste pour stocker les données
# quartiers_list = []

# # Parcourir les lignes de la table
# for row in table.find_all("tr"):
#     # Trouver l'arrondissement (colonne <th>)
#     arrondissement_cell = row.find("th")
#     if arrondissement_cell:
#         arrondissement = arrondissement_cell.get_text(strip=True)  # Nom de l'arrondissement
        
#         # Trouver les quartiers associés (colonne <td>)
#         quartier_cell = row.find("td")
#         if quartier_cell:
#             quartiers = [q.get_text(strip=True) for q in quartier_cell.find_all("li")]
            
#             # Ajouter chaque quartier comme une ligne individuelle
#             for quartier in quartiers:
#                 quartiers_list.append({"Arrondissement": arrondissement, "Quartier": quartier})

# # Convertir en DataFrame pandas
# df_quartiers = pd.DataFrame(quartiers_list)

# # Ajouter une colonne "Arrondissement-Quartier"
# #df_quartiers["Arrondissement-Quartier"] = df_quartiers["Arrondissement"] + " - " + df_quartiers["Quartier"]

# # Enregistrer en CSV
# df_quartiers.to_csv("quartiers_douala.csv", index=False)

# # Afficher un aperçu des données
# print(df_quartiers.head())

## import dans donner changer depuis wikipedia

In [12]:
df_quartiers = pd.read_csv('quartiers_douala.csv')

In [13]:
df_quartiers.head(5)

  Arrondissement       Quartier
0       Douala I           Bali
1       Douala I   Bonamikengue
2       Douala I      Bessengue
3       Douala I  Bonamoudourou
4       Douala I   Bona Bekombo

In [14]:
df_residence.head(5)

  arrondissement_de_residence quartier_de_residence
0                    Douala 3                 Yassa
1                 Non précisé                 R A S
2                    Douala 1              NEW BELL
3                    Douala 5          Ange raphael
4        Douala (Non précisé)                 Beedi

In [15]:
df_residence.shape

(1844, 2)

In [16]:
df_quartiers.shape

(157, 2)

### formatage des quartier avec celle valide

In [18]:
from fuzzywuzzy import process

# Liste des noms de quartiers corrects
quartiers_corrects = df_quartiers["Quartier"].tolist()

# Fonction pour corriger les noms de quartiers
def corriger_quartier(quartier):
    if pd.isna(quartier) or quartier.strip() == "":
        return "Non précisé"
    
    match, score = process.extractOne(quartier, quartiers_corrects)
    
    # Si le score de similarité est élevé (ex: > 80), on considère qu'il s'agit du bon quartier
    return match if score > 80 else "Non précisé"

# Appliquer la correction sur la colonne 'quartier_de_residence'
df_residence["quartier_de_residence"] = df_residence["quartier_de_residence"].apply(corriger_quartier)

# Afficher un aperçu des résultats
print(df_residence.head())

# Sauvegarder le fichier corrigé
df_residence.to_csv("df_residence_corrige.csv", index=False)

  arrondissement_de_residence quartier_de_residence
0                    Douala 3                 Yassa
1                 Non précisé           Non précisé
2                    Douala 1              New Bell
3                    Douala 5          Ange Raphaël
4        Douala (Non précisé)                 Beedi

/tmp/ipykernel_16393/3247287406.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residence["quartier_de_residence"] = df_residence["quartier_de_residence"].apply(corriger_quartier)

In [19]:
df_residence.shape

(1844, 2)

In [20]:
df_residence.head(20)

   arrondissement_de_residence quartier_de_residence
0                     Douala 3                 Yassa
1                  Non précisé           Non précisé
2                     Douala 1              New Bell
3                     Douala 5          Ange Raphaël
4         Douala (Non précisé)                 Beedi
5         Douala (Non précisé)                 Deido
6         Douala (Non précisé)           Non précisé
7                  Non précisé           Non précisé
8                     Douala 2           Non précisé
9                     Douala 3             Ndogpassi
10        Douala (Non précisé)           Non précisé
11        Douala (Non précisé)                 Yassa
12        Douala (Non précisé)          Ange Raphaël
13                    Douala 3                Japoma
14        Douala (Non précisé)            Bonadibong
15        Douala (Non précisé)          Ange Raphaël
16        Douala (Non précisé)           Non précisé
17                    Douala 5              Cité Sic
18        Douala (Non précisé)           Non précisé
19        Douala (Non précisé)           Non précisé

### correction des quartiers

In [21]:
# Création d'un dictionnaire {Quartier: Arrondissement} depuis df_quartiers
quartier_to_arrondissement = df_quartiers.set_index("Quartier")["Arrondissement"].to_dict()

# Mise à jour des arrondissements en fonction du quartier
df_residence["arrondissement_de_residence"] = df_residence["quartier_de_residence"].map(quartier_to_arrondissement).fillna(df_residence["arrondissement_de_residence"])

# Sauvegarde du fichier corrigé
df_residence.to_csv("df_residence_corrige.csv", index=False)

# Aperçu du dataset après correction
print(df_residence.head())

  arrondissement_de_residence quartier_de_residence
0                  Douala III                 Yassa
1                 Non précisé           Non précisé
2                   Douala II              New Bell
3                    Douala V          Ange Raphaël
4                    Douala V                 Beedi

/tmp/ipykernel_16393/4248474958.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_residence["arrondissement_de_residence"] = df_residence["quartier_de_residence"].map(quartier_to_arrondissement).fillna(df_residence["arrondissement_de_residence"])

In [23]:
df_residence

     arrondissement_de_residence quartier_de_residence
0                     Douala III                 Yassa
1                    Non précisé           Non précisé
2                      Douala II              New Bell
3                       Douala V          Ange Raphaël
4                       Douala V                 Beedi
...                          ...                   ...
1839                    Douala V              Ndogbong
1840        Douala (Non précisé)           Non précisé
1841                    Douala V     Cité des palmiers
1842        Douala (Non précisé)           Non précisé
1843                    Douala 3           Non précisé

[1844 rows x 2 columns]

In [22]:
# Vérifier les colonnes disponibles
print("Colonnes de df_residence :", df_residence.columns)
print("Colonnes de df_volontaire_clean :", df_volontaire.columns)

Colonnes de df_residence : Index(['arrondissement_de_residence', 'quartier_de_residence'], dtype='object')
Colonnes de df_volontaire_clean : Index(['id', 'age', 'niveau_detude', 'genre', 'taille', 'poids',
       'situation_matrimoniale_sm', 'profession',
       'arrondissement_de_residence', 'quartier_de_residence', 'nationalite',
       'religion', 'a_til_elle_deja_donne_le_sang',
       'si_oui_preciser_la_date_du_dernier_don', 'taux_dhemoglobine',
       'eligibilite_au_don',
       'raison_indisponibilite_est_sous_anti_biotherapie',
       'raison_indisponibilite_taux_dhemoglobine_bas',
       'raison_indisponibilite_date_de_dernier_don_inf_3_mois',
       'raison_indisponibilite_ist_recente_exclu_vih_hbs_hcv',
       'date_de_dernieres_regles_ddr',
       'raison_de_lindisponibilite_de_la_femme_la_ddr_est_mauvais_si_inf_14_jour_avant_le_don',
       'raison_de_lindisponibilite_de_la_femme_allaitement',
       'raison_de_lindisponibilite_de_la_femme_a_accoucher_ces_6_derniers_mois',
       'raison_de_lindisponibilite_de_la_femme_interruption_de_grossesse_ces_06_derniers_mois',
       'raison_de_lindisponibilite_de_la_femme_est_enceinte',
       'autre_raisons_preciser', 'selectionner_ok_pour_envoyer',
       'raison_de_non_eligibilite_totale_antecedent_de_transfusion',
       'raison_de_non_eligibilite_totale_porteur_hiv_hbs_hcv',
       'raison_de_non_eligibilite_totale_opere',
       'raison_de_non_eligibilite_totale_drepanocytaire',
       'raison_de_non_eligibilite_totale_diabetique',
       'raison_de_non_eligibilite_totale_hypertendus',
       'raison_de_non_eligibilite_totale_asthmatiques',
       'raison_de_non_eligibilite_totale_cardiaque',
       'raison_de_non_eligibilite_totale_tatoue',
       'raison_de_non_eligibilite_totale_scarifie',
       'si_autres_raison_preciser'],
      dtype='object')

In [24]:
# On met à jour les colonnes en prenant les valeurs de df_residence
df_volontaire["arrondissement_de_residence"] = df_residence["arrondissement_de_residence"].values
df_volontaire["quartier_de_residence"] = df_residence["quartier_de_residence"].values

df_volontaire["arrondissement_de_residence"] = df_volontaire["arrondissement_de_residence"].replace("Non Précisé", "Douala (Non précisé)")

# Vérification rapide
print(df_volontaire[["arrondissement_de_residence", "quartier_de_residence"]].head())

# Sauvegarde du dataset mis à jour
df_volontaire.to_csv("df_volontaire_clean_corrige.csv", index=False)

print("✅ Mise à jour réussie ! Les données corrigées ont été sauvegardées.")

  arrondissement_de_residence quartier_de_residence
0                  Douala III                 Yassa
1                 Non précisé           Non précisé
2                   Douala II              New Bell
3                    Douala V          Ange Raphaël
4                    Douala V                 Beedi
✅ Mise à jour réussie ! Les données corrigées ont été sauvegardées.

## formatage des arrondissements valide

In [25]:
import re

# Dictionnaire de correspondance des chiffres arabes en chiffres romains
conversion_romaine = {
    "1": "I", "2": "II", "3": "III", "4": "IV", "5": "V", 
    "6": "VI", "7": "VII", "8": "VIII", "9": "IX", "10": "X"
}

# Fonction pour remplacer les chiffres par leur équivalent romain
def remplacer_par_romain(texte):
    match = re.search(r'\b(\d+)\b', texte)  # Trouver un chiffre seul
    if match:
        chiffre = match.group(1)  # Extraire le chiffre
        if chiffre in conversion_romaine:
            return texte.replace(chiffre, conversion_romaine[chiffre])  # Remplacer
    return texte  # Retourner inchangé si pas de correspondance

# Appliquer la transformation sur la colonne 'arrondissement_de_residence'
df_volontaire["arrondissement_de_residence"] = df_volontaire["arrondissement_de_residence"].apply(remplacer_par_romain)

# Vérification rapide
print(df_volontaire["arrondissement_de_residence"].unique())

# Sauvegarde du dataset corrigé
df_volontaire.to_csv("df_volontaire_clean_corrige.csv", index=False)

print("✅ Remplacement des chiffres par chiffres romains effectué avec succès !")

['Douala III' 'Non précisé' 'Douala II' 'Douala V' 'Douala I'
 'Douala (Non précisé)' 'Douala IV' 'Yaoundé' 'Meiganga' 'Édéa' 'Manjo'
 'Douala VI' 'Tiko' 'Bafoussam' 'Kribi' 'Ouest' 'Njombé' 'Nkouabang'
 'Buéa' 'Dschang' 'Bomono Ba Mbègué' 'Douala' 'Dikongmondo' 'Limbe'
 'Sud-Ouest Tombel']
✅ Remplacement des chiffres par chiffres romains effectué avec succès !

In [26]:
# Liste des valeurs valides (Douala I, II, III... et "Douala (Non précisé)")
valeurs_valides = [f"Douala {romain}" for romain in ["I", "II", "III", "IV", "V", "VI"]] + ["Douala (Non précisé)"]

# Remplacer toutes les autres valeurs par "Non précisé"
df_volontaire["arrondissement_de_residence"] = df_volontaire["arrondissement_de_residence"].apply(
    lambda x: x if x in valeurs_valides else "Non précisé"
)

# Vérification rapide
print(df_volontaire["arrondissement_de_residence"].unique())

# Sauvegarde du dataset corrigé
df_volontaire.to_csv("df_volontaire_clean_corrige.csv", index=False)

print("✅ Nettoyage des arrondissements terminé avec succès !")

['Douala III' 'Non précisé' 'Douala II' 'Douala V' 'Douala I'
 'Douala (Non précisé)' 'Douala IV' 'Douala VI']
✅ Nettoyage des arrondissements terminé avec succès !

In [34]:
valeurs_uniques = df_volontaire['profession'].unique()

# Affichage des valeurs uniques
print(valeurs_uniques)

['Étudiant' 'Sans emploi' 'Tailleur ' 'Militaire' 'Bijoutier' 'Couturier'
 'Jeune cadre' 'Commerçant' 'Moto-taximan' 'Commercial' 'Élève'
 'Chauffeur' 'Coiffeur' 'Mécanicien' 'Cultuvateur' "Agent d'exploitation"
 'Fonctionnaires' 'Marin' 'Infirmièr' 'Sportifs' 'Chargé de clientèle'
 'MENUISIER ' 'Pas precise' 'CONTROLEUR DES DOUANES' 'Electronicien'
 'Électricien' 'Conducteur' 'Security officer' 'Businessman' 'Plombier'
 'Footballeur' 'Agent de sécurité' 'Technicien agricole' 'Vigil'
 'Cuisinier' 'Enseignant' 'Secrétaire comptable' 'Pasteur' 'S1p'
 "Contractuel d'administration" 'Logisticien' 'Trader indep' 'Maçon'
 'Employé (e)  dans une entreprise' 'Non précisé' 'Menuisier' 'Technicien'
 'Cheminot' 'Personnel de sante' 'Analyste -programmeur'
 'Ingénieur en génie civil' 'Agent technique' 'Déclarant en douane'
 'coiffeuse' 'VENDEUSE' 'Débrouillard' 'Médecin' 'Logisticien transport'
 'CHAUDRONIER' 'MARIN' 'Coordiste' 'PEINTRE' 'ADMINISTRATEUR DES HOPITAUX'
 'Agent municipal ' 'Charger de la sécurité' 'Formateur' 'Informaticien'
 'Magasinier' 'Technicien en génie civil' 'Juriste' 'Chaudronnerie '
 'Machiniste ' 'Hôtelier ' 'Infographe' 'Ménagère' 'Pâtissier'
 'Assistant de direction' 'STAGIAIRE' 'Électronicien' 'Tolier'
 'photographe' 'missionnaire' 'FORREUR' 'Estheticien' 'Docker'
 'Couturière' 'Taxi-man' 'Dolker ' 'Entrepreneur' 'CASINO'
 'Maintenancier industriel ' 'Decorateur Baptiment' 'Tâcheron'
 'Imprimeur ' 'Peintre' 'Secretaire' 'Assistante' 'Banquier'
 'agent de sécurité' 'soudeur' 'Comptable' 'TECHNICIEN TOPO' 'Machiniste'
 'Auditeur interne' 'Chaudronnier' 'Sérigraphie' 'IMPRIMEUR'
 'Prestataire de service et consultant sportif' 'Soudeur'
 'Agent de sécurité ' 'Hôtelier' 'Développeur en informatique '
 'Laborantin' 'Hoteliere' 'OUVRIER' 'Architecte' 'marrin' 'Pompiste'
 'EDUCATEUR DES ENFANTS' 'Agent administratif ' 'MACHINISTE'
 'Réalisateur ' 'CHAUFFEUR ' 'assureur' 'LAVEUR' 'Coach kuine'
 'AIDE COMPTABLE' 'Ingénieur en télécommunications'
 'constructeur en bâtiment' 'Conseiller client' 'SP' 'APPRENTI TOLERIE '
 'Chimiste' 'Transitaire' 'Agent des ressourses humaines' 'Assureur'
 'Calier' 'SOUDEUR' "AGENT D'APPUI PHARMICIE" 'Intendant '
 'Technicien en genie civil' "conducteurs d'engins genie civil"
 'Assistant transit' 'Tôlier ' 'Contoleur Gestion'
 'Collaborateur architecture' 'Technicien en bâtiment' 'Plantelier'
 'DEBROUILLARD' 'taximan' 'Réseaux et télécommunications ' 'Soudeur '
 'Ingénieur réseaux et telecom' 'Ingénieur' 'Homme d’affaire' 'HOTELIER'
 'Logiticien' 'Opérateur portique' 'Cultivateur' 'hoteliere'
 'INFORMATICIEN DE RESEAU' 'Carreleur' 'élève' 'Technicien d’etancheite '
 'Sérigraphe' 'Trefilleur' 'Trieur ' 'CABLEUR' 'BOULANGER'
 'cadre commercial' 'Technicienne de surface' 'Aide chirugien'
 'Brewing operator' 'Agent de maintenance indusyrielle'
 'Maintenancier ind ' 'Conseillé technique ' 'Soudeur-monteur' 'Docker '
 "Gouvernant d'hotel" 'ELECTRICIEN INSTRUMENTISTE ' 'Maitre de chien'
 'Maintenancier' 'MENAGERE' "Homme d'affaire" 'DOCKER' 'Forestier'
 'Électrotechnicien ' 'Ambulancier' 'Vitrier' 'Vendeur ' 'Caissière'
 'Agent de recouvriment' 'Delegue medical' 'Maitresse'
 'RESPONSABLE TRANSPORT' "Courtierd'assurance" 'Électrotechnicien'
 'Technicien de securite' 'Électromécanicien' 'Financier' 'INFIRMIER'
 'Content manager' 'comptable' 'SOUDRONIER' 'ELECTRICIEN PLOMBIER'
 'Agent portuaire' 'Pousseur' 'Transporteur' 'Gestionnaire' 'Negoce bois'
 'Electrotechncien' 'EBENISTE' 'eleve' 'Hoteliet' 'Étanchéiste'
 'Restaurateur' 'Maitre pecheur' 'GRUTIER' 'Cordonnier' 'GESTIONNAIRE'
 'AUDIT COMPTABLE' 'Commercial-distributeur' 'Employer de banque'
 'Agriculteur' 'MONITEUR' 'Standardise ' 'Hôtelière' 'ETUDIANT'
 'Technicien Staffeur' 'CONSEILLER JURIDIQUE ET FISCAL' 'SECURITE'
 'HOMME A TOUT FAIRE' 'REGISSEUR SON ET LUMIERE' 'Controleur qualité'
 'CONDUCTEUR' 'Assurent' 'SCULPTEURS ' 'Cableur' 'Sondeur aux brasseries '
 'Cadre contractuel' 'Chaudronnerie' 'Superviseur maintenance '
 'Pas précisée' 'Comis de salle' 'Ingénieur en informatique' 'fiscaliste'
 'ElEVE' 'CHANTRE MUSICIEN' 'Chef de sécurité' 'ATMS' "Agent d'entretien"
 'Ingenieur en informatique' 'Agent maritime' 'Agent fret airport '
 'Archiviste' 'Facteur' 'Acheteur logiticienne' 'Administrateur' 'Vendeur'
 'Gestionnaire de vols' 'CHEMINOT' 'Analyste de données ' 'Staffeur '
 'Mecatronicien nta' 'Business development' 'Agent de Securité'
 'AGENT DE SECURITE ' 'Agent de sécurité hgoped' 'Ingénieur en mécanique '
 'Rebobineur' 'Machiniste- Électricien' 'Peintre ' 'Market-developper'
 'Chômeur' 'Photographe' 'chimiste' 'TECHNICIEN EN FROID ET CLIMATISATION'
 'manoeuvre' 'assistant administratif' 'Commerciale ' 'Agent de liaison '
 'trader' 'Staffeur' 'Ingenieur en bateau' 'Hotelier'
 'Ingénieur des travaux médicaux' 'Stagiaitaire C U D' 'Électricité'
 'Beat Maker' 'MANŒUVRE ' 'Musicien' 'Cultivateur '
 'Conducteur de travaux genie civil' 'Journaliste ' 'ADS' 'Macon'
 'COMPTABLE' 'COMPTABLE FINANCIER' 'Libérale ' 'COMMUNICATEUR'
 'Secrétaire' 'PLEG' 'Marqueur des produits pétroliers' 'Evangeliste'
 'Missionary' 'PREPOSE DE MARQUE ' 'Brancardier' 'Non precisé'
 'Agent video' 'Imprimeur' 'ASSISTANT JURIDIQUE' 'Informatien' 'Pointeur'
 'agent de propreté' 'ARGENT COMMERCIAL ' 'Artisant' 'Motoman'
 'Veterinaire' 'FERRAILLEUR' 'Responsable commercial' 'Electricien '
 'Agent social' "agent d'entretien" 'Agent immobilier'
 'Technicien du génie sanitaire' 'Agent RH' 'Documentaliste'
 'Assistante comptable' 'Secrétaire commerciale' 'Pas précisé '
 'TECHNICIEN' 'Agent hse' 'Manager administratif' 'Agent marketiste'
 'Maçon ' 'Ingénieur en biotechnologie' 'Technicien Telecom' 'Bensikineur'
 'agent communal' 'Agent communal' 'Serigraphe' 'Technicien aéronautique'
 'echaffaudeur' 'PLANTEUR' 'Soudeur industriel' 'Agent immobilier '
 'MANILASON' 'TECHNICIEN EN AGRICULTURE'
 'Gestionnaire de ressources humaines' 'Hoteluere' 'Étudiant travailleur'
 'TECHNICIEN EN METALLURGIE' 'Agent de propreté' 'Sculpteur'
 'Électricien en bâtiment ' "Service d'entretien" 'Agent pressing '
 'HOTELLIER' 'ASSUREUR' 'Controleur' "conducteur d'engin"
 'Conducteur engin ' 'TECHNICIEN EN BATIMENT' 'COIFFEURS '
 'agent technique' 'RECEPTIONISTE CAISSIERE' 'Public health expert'
 'Sandeur' 'Gendarme' 'DECLAMANT DOUANE' 'brasseur' 'Operateur'
 'DIRECTRICE' 'Chef comptable' 'NON PRECISE' 'Comptable gestionaire '
 'CUISINIER' 'Emballeuse à palite food ' 'Chomeur' 'Métallurgiste'
 'IDE URGENTISTE' 'Dessinateur ' 'EMPLOYE ENTREPRISE'
 'Technicien de laboratoire' 'Genie civil' "Infor'aticien" 'Pas précisé'
 'Tapissier ' 'CHAUFEUR' 'Directeur géneral' 'Agent de liaison'
 'Ingénieur des télécommunications ' 'GEOMETRE' 'Vitrié' 'COMMERÇANTE '
 'Doker' 'ANGENT COMMUNALE ' 'Chirurgienne dentiste'
 'Conseille agropastoral' 'Declarante en Douane' 'Worker trader' 'VITRIER'
 'Debrouillard' 'STUCKOWLOVE' 'Énergéticien' 'Realisateur' 'styliste'
 'Colleur de roue' 'Chargé de clientèle ' 'gestionnaire'
 'Intendant infirmier supérieur ' 'FEMME AU FOYER' 'CARRELEUR' 'Ménuisier'
 'MÉCANICIEN ' 'Declarant en douane' 'Philosophe-poliologue'
 'Auxiliaire de pharmacie' "AGENT D'ENTRETIEN" 'Ingenieur biologiste'
 'Gestionnaire ressources humaines' 'plombier' 'Greffier' 'PASTEUR'
 'Technicien endiscopie' 'Assistant RH' 'Artiste' 'Employé de banque '
 "Assistant d'administratif" 'Ingenieur Agronome' 'Technicien mechanique'
 "AGENT D'APPUI" 'Chargée de communication' 'Technicien superieur']

### formatage des professions et regroupement

In [27]:
# Dictionnaire de mapping des professions par catégories
profession_mapping = {
    # Étudiants et apprenants
    'Étudiants': ['Étudiant', 'Élève', 'eleve', 'ElEVE', 'ETUDIANT', 'Stagiaitaire C U D', 'STAGIAIRE', 'APPRENTI TOLERIE', 'Étudiant travailleur'],
    
    # Sans emploi
    'Sans emploi': ['Sans emploi', 'Chômeur', 'Chomeur', 'Pas précisé', 'Pas precise', 'Non précisé', 'Non precisé', 'Pas précisée', 'NON PRECISE'],
    
    # Artisans / Métiers manuels
    'Artisans': ['Tailleur', 'Bijoutier', 'Couturier', 'Coiffeur', 'coiffeuse', 'COIFFEURS', 'Mécanicien', 'MENUISIER', 'Menuisier', 'Ménuisier', 'Plombier', 'Électricien', 'Electricien', 'ELECTRICIEN PLOMBIER', 'Électrotechnicien', 'Electrotechncien', 'Électromécanicien', 'Electronicien', 'Électronicien', 'Tolier', 'Tôlier', 'Peintre', 'PEINTRE', 'Maçon', 'Macon', 'Maçon ', 'Carreleur', 'CARRELEUR', 'Chaudronnier', 'CHAUDRONIER', 'Chaudronnerie', 'SOUDEUR', 'Soudeur', 'Soudeur industriel', 'Soudeur-monteur', 'SOUDRONIER', 'Imprimeur', 'IMPRIMEUR', 'Sérigraphie', 'Sérigraphe', 'Serigraphe', 'Pâtissier', 'BOULANGER', 'Cuisinier', 'CUISINIER', 'Tapissier', 'Vitrier', 'VITRIER', 'EBENISTE', 'Cordonnier', 'Decorateur Baptiment', 'Trefilleur', 'Cableur', 'CABLEUR', 'Métallurgiste', 'TECHNICIEN EN METALLURGIE', 'FERRAILLEUR'],
    
    # Transport / Logistique
    'Transport': ['Chauffeur', 'CHAUFFEUR', 'CHAUFEUR', 'Conducteur', 'CONDUCTEUR', 'Moto-taximan', 'Taxi-man', 'taximan', 'Motoman', 'Transitaire', 'Logisticien', 'Logiticien', 'Logisticien transport', 'Acheteur logiticienne', 'Conducteur de travaux genie civil', "conducteurs d'engins genie civil", "conducteur d'engin", 'Conducteur engin', 'GRUTIER', 'Transporteur', 'Opérateur portique', 'Pompiste', 'Agent portuaire', 'Agent maritime', 'Agent fret airport', 'Gestionnaire de vols', 'Pousseur'],
    
    # Commerce / Vente
    'Commerce': ['Commerçant', 'Commercial', 'Commerciale', 'cadre commercial', 'Responsable commercial', 'Commercial-distributeur', 'VENDEUSE', 'Vendeur', 'Vendeur ', 'Caissière', 'Businessman', 'Homme d’affaire', "Homme d'affaire", 'Trader indep', 'trader', 'Worker trader', 'Negoce bois', 'Market-developper', 'Business development', 'ARGENT COMMERCIAL'],
    
    # Sécurité
    'Sécurité': ['Militaire', 'Security officer', 'Agent de sécurité', 'agent de sécurité', 'Agent de Securité', 'AGENT DE SECURITE', 'Agent de sécurité hgoped', 'Charger de la sécurité', 'Chef de sécurité', 'SECURITE', 'Gendarme'],
    
    # Bâtiment / Génie civil
    'Bâtiment': ['Technicien en bâtiment', 'TECHNICIEN EN BATIMENT', 'Technicien en génie civil', 'Technicien en genie civil', 'Ingénieur en génie civil', 'constructeur en bâtiment', 'Architecte', 'Collaborateur architecture', 'GEOMETRE', 'Technicien d’etancheite', 'Étanchéiste', 'Staffeur', 'Staffeur ', 'Technicien Staffeur', 'TECHNICIEN TOPO', 'Dessinateur', 'Plantelier'],
    
    # Santé
    'Santé': ['Infirmièr', 'INFIRMIER', 'Médecin', 'Personnel de sante', 'Delegue medical', 'Chirurgienne dentiste', 'Aide chirugien', 'IDE URGENTISTE', 'Technicien endiscopie', 'Administrateur des hopitaux', 'Intendant infirmier supérieur', 'Ambulancier', 'Auxiliaire de pharmacie', "AGENT D'APPUI PHARMICIE", 'Veterinaire', 'Ingénieur des travaux médicaux', 'Technicien de laboratoire', 'Public health expert'],
    
    # Enseignement / Formation
    'Éducation': ['Enseignant', 'Formateur', 'EDUCATEUR DES ENFANTS', 'Maitresse', 'MONITEUR', 'Coach kuine'],
    
    # Informatique / Technologie
    'Informatique': ['Informaticien', 'INFORMATICIEN DE RESEAU', 'Ingénieur en informatique', 'Ingenieur en informatique', 'Développeur en informatique', 'Analyste -programmeur', 'Content manager', 'Infographe', 'Informatien', 'Beat Maker'],
    
    # Administration / Gestion
    'Administration': ['Fonctionnaires', "Contractuel d'administration", 'Secrétaire', 'Secretaire', 'Assistant de direction', 'Assistante', 'Agent administratif', 'assistant administratif', "Assistant d'administratif", 'Administrateur', 'Manager administratif', 'Secrétaire comptable', 'Assistante comptable', 'AIDE COMPTABLE', 'Comptable', 'COMPTABLE', 'COMPTABLE FINANCIER', 'Chef comptable', 'Comptable gestionaire', 'AUDIT COMPTABLE', 'Auditeur interne', 'Gestionnaire', 'GESTIONNAIRE', 'Gestionnaire de ressources humaines', 'Agent des ressourses humaines', 'Agent RH', 'Assistant RH', 'Gestionnaire ressources humaines', 'Juriste', 'CONSEILLER JURIDIQUE ET FISCAL', 'fiscaliste', 'ASSISTANT JURIDIQUE', 'Agent municipal', 'agent communal', 'Agent communal', 'ANGENT COMMUNALE', 'Greffier'],
    
    # Agriculture
    'Agriculture': ['Cultuvateur', 'Cultivateur', 'Cultivateur ', 'Agriculteur', 'Technicien agricole', 'Ingenieur Agronome', 'Technicien en agriculture', 'Conseille agropastoral', 'Ingénieur en biotechnologie', 'PLANTEUR'],
    
    # Hôtellerie / Restauration
    'Hôtellerie': ['Hôtelier', 'HOTELIER', 'Hoteliet', 'Hoteliere', 'Hôtelière', 'Hoteluere', 'HOTELLIER', 'Restaurateur', "Gouvernant d'hotel", 'Comis de salle'],
    
    # Autres professions techniques
    'Techniciens': ['Technicien', 'TECHNICIEN', 'Agent technique', 'agent technique', 'Technicien superieur', 'Technicien Telecom', 'Réseaux et télécommunications', 'Ingénieur réseaux et telecom', 'Ingénieur en télécommunications', 'Ingénieur des télécommunications', 'TECHNICIEN EN FROID ET CLIMATISATION', 'Technicien aéronautique', 'Technicien du génie sanitaire', 'Technicien en metallurgie', 'Technicien mecanique', 'Machiniste', 'MACHINISTE', 'Machiniste-', 'Maintenancier', 'Maintenancier industriel', 'Maintenancier ind', 'Agent de maintenance indusyrielle', 'Superviseur maintenance', 'Laborantin', 'Chimiste', 'chimiste', 'Ingénieur', 'Ingenieur biologiste', 'Énergéticien'],
    
    # Divers
    'Divers': ['Débrouillard', 'DEBROUILLARD', 'Debrouillard', 'HOMME A TOUT FAIRE', 'Ménagère', 'MENAGERE', 'FEMME AU FOYER', 'Pasteur', 'PASTEUR', 'missionnaire', 'Missionary', 'Evangeliste', 'Philosophe-poliologue', 'Artiste', 'Photographe', 'photographe', 'Musicien', 'CHANTRE MUSICIEN', 'Réalisateur', 'Realisateur', 'Journaliste', 'styliste']
}

# Fonction pour mapper les professions
def map_profession(prof):
    prof = str(prof).strip().lower()
    for category, professions in profession_mapping.items():
        if any(p.lower() in prof for p in professions):
            return category
    return 'Divers'  # Catégorie par défaut si non trouvé

# Application au DataFrame
df_volontaire['profession'] = df_volontaire['profession'].apply(map_profession)

# Sauvegarde du dataset corrigé
df_volontaire.to_csv("df_volontaire_clean_corrige.csv", index=False)

# Vérification des résultats
print(df_volontaire['profession'].value_counts())

profession
Étudiants         365
Artisans          313
Divers            273
Sans emploi       237
Commerce          151
Transport         128
Techniciens        80
Administration     73
Sécurité           53
Santé              47
Éducation          35
Informatique       30
Bâtiment           25
Hôtellerie         20
Agriculture        14
Name: count, dtype: int64

In [29]:
print(df_volontaire['quartier_de_residence'].unique())

['Yassa' 'Non précisé' 'New Bell' 'Ange Raphaël' 'Beedi' 'Deido'
 'Ndogpassi' 'Japoma' 'Bonadibong' 'Cité Sic' 'Besseke' 'Akwa' 'Ndogbong'
 'Pk 9' 'Deïdo' 'Brazzaville' 'Nyalla' 'Logbaba' 'Bangue' 'Bonamoussadi'
 'Bonabeyike' 'Logbessou' 'Boko' 'Logpom' 'Youpwé' 'Pk 10' 'Emene City'
 'Pk 11' 'Nkongmondo' 'Makepe' 'Bali' 'Ngodi' 'Bonapriso' 'Kotto'
 'Cité des palmiers' 'Bilongue' 'Grand Moulin' 'Bessengue' 'Malangue'
 'Bepanda' 'Oyack' 'Akwa Nord' 'Bonateki' 'Ndokoti' 'Ndobo' 'Aéroport'
 'Bonakouamouang' 'Bonanjo' 'Cité Berge' 'Bonandale' 'Bonanloka' 'Ngangue'
 'Ndogsimbi' 'Dibom' 'Cité de la Paix' 'Mbanga Bakoko' 'Mbengue City'
 'So-Boum' 'Pk 17' 'Song-Mahop' 'Bonambappe' 'Bonaminkano' 'Pk 21'
 'Bonadouma' 'Tergal' 'Nguibassal' 'Congo' 'Bonadiwoto' 'Bonadoumbé'
 'Ndogmbe' 'Nylon']

## Normalisation des religion

In [8]:
df_volontaire = pd.read_csv("df_volontaire_clean_corrige.csv")
df_volontaire

,id,age,niveau_detude,genre,taille,poids,situation_matrimoniale_sm,profession,arrondissement_de_residence,quartier_de_residence,...,raison_de_non_eligibilite_totale_porteur_hiv_hbs_hcv,raison_de_non_eligibilite_totale_opere,raison_de_non_eligibilite_totale_drepanocytaire,raison_de_non_eligibilite_totale_diabetique,raison_de_non_eligibilite_totale_hypertendus,raison_de_non_eligibilite_totale_asthmatiques,raison_de_non_eligibilite_totale_cardiaque,raison_de_non_eligibilite_totale_tatoue,raison_de_non_eligibilite_totale_scarifie,si_autres_raison_preciser
0,DONOR_1842,24,Universitaire,Homme,172.816667,77.278846,Célibataire,Étudiants,Douala III,Yassa,...,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu
1,DONOR_1843,23,Universitaire,Homme,172.816667,77.278846,Célibataire,Sans emploi,Non précisé,Non précisé,...,Non,Oui,Non,Non,Non,Non,Non,Non,Non,Inconnu
2,DONOR_1844,41,Aucun,Homme,172.816667,77.278846,Marié (e),Artisans,Douala II,New Bell,...,Non,Non,Non,Non,Non,Non,Non,Non,Non,Aucune information
3,DONOR_1845,24,Universitaire,Homme,172.816667,77.278846,Célibataire,Étudiants,Douala V,Ange Raphaël,...,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu
4,DONOR_1846,30,Secondaire,Homme,172.816667,77.278846,Célibataire,Sécurité,Douala V,Beedi,...,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1839,DONOR_3683,26,Secondaire,Homme,172.816667,77.278846,Célibataire,Étudiants,Douala V,Ndogbong,...,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu
1840,DONOR_3684,23,Secondaire,Homme,172.816667,77.278846,Célibataire,Étudiants,Douala (Non précisé),Non précisé,...,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu
1841,DONOR_3685,30,Universitaire,Homme,172.816667,77.278846,Célibataire,Techniciens,Douala V,Cité des palmiers,...,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu
1842,DONOR_3686,28,Pas Précisé,Femme,172.816667,96.000000,Célibataire,Divers,Douala (Non précisé),Non précisé,...,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu
1843,DONOR_3687,29,Pas Précisé,Homme,172.816667,77.278846,Célibataire,Artisans,Douala III,Non précisé,...,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu

In [9]:
# Liste des religions (pour référence, mais pas nécessaire si elles sont déjà dans le DataFrame)
religions = [
    "Adventiste", "Animiste", "Aucune", "Baptiste", "CMCI", "Chrétien", 
    "Chrétien (Catholique)", "Chrétien (Non précisé)", "Chrétien (Né de nouveau)", 
    "Chrétien (Protestant)", "Chrétien (Témoin de Jéhovah)", "Croyant", 
    "Croyant en tout", "EPC", "Laïc", "Musulman", "Non précisé", "Non-croyant", 
    "Pentecôtiste", "Presbytérien", "Traditionaliste", "UEBC"
]

# Dictionnaire de regroupement
religion_groups = {
    "Christianisme": [
        "Adventiste", "Baptiste", "CMCI", "Chrétien", "Chrétien (Catholique)", 
        "Chrétien (Non précisé)", "Chrétien (Né de nouveau)", "Chrétien (Protestant)", 
        "Chrétien (Témoin de Jéhovah)", "EPC", "Pentecôtiste", "Presbytérien", "UEBC"
    ],
    "Islam": ["Musulman"],
    "Croyances traditionnelles": ["Animiste", "Traditionaliste"],
    "Non religieux": ["Aucune", "Non-croyant", "Non précisé", "Laïc"],
    "Croyances générales": ["Croyant", "Croyant en tout"]
}

# Fonction pour assigner un groupe à une religion
def get_religion_group(religion):
    # Convertir en chaîne et gérer les NaN ou valeurs invalides
    religion = str(religion).strip()
    for group, religions_list in religion_groups.items():
        if religion in religions_list:
            return group
    return "Non précisé"  # Par défaut pour les valeurs inconnues ou non listées

# Corriger uniquement le champ 'religion'
df_volontaire['religion'] = df_volontaire['religion'].apply(get_religion_group)

# Sauvegarder le DataFrame corrigé
df_volontaire.to_csv("df_volontaire_clean_corrige.csv", index=False)

# Afficher un aperçu pour vérification
print("Aperçu du DataFrame corrigé :")
print(df_volontaire[['religion']].head())  # Affiche seulement la colonne 'religion' pour vérification
print("\nRépartition des groupes de religion :")
print(df_volontaire['religion'].value_counts())

Aperçu du DataFrame corrigé :
        religion
0  Christianisme
1  Christianisme
2  Non religieux
3          Islam
4  Christianisme

Répartition des groupes de religion :
religion
Christianisme                1133
Non religieux                 617
Islam                          81
Croyances traditionnelles      10
Croyances générales             3
Name: count, dtype: int64

# dataset final prete pour l'analyse

In [10]:
df_volontaire

,id,age,niveau_detude,genre,taille,poids,situation_matrimoniale_sm,profession,arrondissement_de_residence,quartier_de_residence,...,raison_de_non_eligibilite_totale_porteur_hiv_hbs_hcv,raison_de_non_eligibilite_totale_opere,raison_de_non_eligibilite_totale_drepanocytaire,raison_de_non_eligibilite_totale_diabetique,raison_de_non_eligibilite_totale_hypertendus,raison_de_non_eligibilite_totale_asthmatiques,raison_de_non_eligibilite_totale_cardiaque,raison_de_non_eligibilite_totale_tatoue,raison_de_non_eligibilite_totale_scarifie,si_autres_raison_preciser
0,DONOR_1842,24,Universitaire,Homme,172.816667,77.278846,Célibataire,Étudiants,Douala III,Yassa,...,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu
1,DONOR_1843,23,Universitaire,Homme,172.816667,77.278846,Célibataire,Sans emploi,Non précisé,Non précisé,...,Non,Oui,Non,Non,Non,Non,Non,Non,Non,Inconnu
2,DONOR_1844,41,Aucun,Homme,172.816667,77.278846,Marié (e),Artisans,Douala II,New Bell,...,Non,Non,Non,Non,Non,Non,Non,Non,Non,Aucune information
3,DONOR_1845,24,Universitaire,Homme,172.816667,77.278846,Célibataire,Étudiants,Douala V,Ange Raphaël,...,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu
4,DONOR_1846,30,Secondaire,Homme,172.816667,77.278846,Célibataire,Sécurité,Douala V,Beedi,...,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1839,DONOR_3683,26,Secondaire,Homme,172.816667,77.278846,Célibataire,Étudiants,Douala V,Ndogbong,...,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu
1840,DONOR_3684,23,Secondaire,Homme,172.816667,77.278846,Célibataire,Étudiants,Douala (Non précisé),Non précisé,...,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu
1841,DONOR_3685,30,Universitaire,Homme,172.816667,77.278846,Célibataire,Techniciens,Douala V,Cité des palmiers,...,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu
1842,DONOR_3686,28,Pas Précisé,Femme,172.816667,96.000000,Célibataire,Divers,Douala (Non précisé),Non précisé,...,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu
1843,DONOR_3687,29,Pas Précisé,Homme,172.816667,77.278846,Célibataire,Artisans,Douala III,Non précisé,...,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu,Inconnu